@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* font-family: 'Dancing Script', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    line-height: 1.5;

}

.container {
    margin: auto;
    width: 80%;
    /* display: flex;
    flex-wrap:wrap; */
    max-height: 310px;
    background-color: #F4F0EC;
    margin-top: 10px;
    margin-bottom: 10px;
    padding-top: 10px;

}

.darkmode {
    display: flex;
    justify-content: flex-end;
    /* padding-top: 100px; */
    /* width: 100%; */
    /* height: 25px; */
    padding-top: 0px;
    padding-right: 10px;
    position: fixed;
    right: 11.5%;
    top: 3.5%;

}

body.dark {
    background-color: #9DB2BF;
}

body.dark .container {
    background-color: #526D82;
    ;
}

body.dark h1 {
    color: white;
}

body.dark h2 {
    color: white;
}

body.dark .container p {
    color: white;
}

body.dark .cv-left {
    background-color: #526D82;
}

body.dark .mescoordonnees {
    background-color: #27374D;
}

body.dark .cv-right {
    background-color: #526D82;
}

body.dark .expertiselanguesloisirs {
    background-color: #27374D;
}

body.dark .verticalLine {
    border-right: thick solid #27374D;
}

body.dark .verticalLine2 {
    border-left: thick solid #526D82;
}

body.dark .educationBloc h3 {
    color: #27374D;
}

body.dark .experience h3 {
    color: #27374D;
}

body.dark .label {
    background-color: #27374D
}

body.dark .label .ball {
    background-color: #526D82
}


.checkbox {
    opacity: 0;
    position: absolute;
}

.label {
    background-color: #3e2d1f;
    border-radius: 50px;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 5px;
    position: relative;
    height: 25px;
    width: 50px;
    transform: scale(1.5);

}

.label .ball {
    background-color: rgb(187, 162, 150);
    border-radius: 50%;
    position: absolute;
    left: 3px;
    height: 19px;
    width: 19.5px;
    transform: translateX(0px);
    transition: transform 0.2s linear;
}

.checkbox:checked+.label .ball {
    transform: translateX(24px);
}

.fa-moon {
    color: white;
}

.fa-sun {
    color: white;


}

/* .imgProfil img {
    height: 230px;
    width: 200px;
    margin: auto;
    position: relative;
    top: 20%;
    z-index: 2;
    /* background-color:rgb(62, 45, 31) ; */
/* display: flex; */
/* align-items: center; */


/* .imgProfil {
    width: 220px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color:rgb(62, 45, 31) ;
     margin: 20px ; */



.presentation {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-top: 0px;
    margin: auto;

}

.h1bouton {
    display: flex;
    /* justify-content: flex-end; */
    width: 100%;
    height: 60px;
    align-items: center;
    justify-content: center;
    /* column-gap: 80px; */
}

h1 {

    color: #3e2d1f;
    font-size: 60px;
    margin-bottom: 10px;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
    /* position: absolute;
    left: 40%; */
}


h2 {
    display: flex;
    flex-wrap: nowrap;
    text-align: center;
    color: rgb(62, 45, 31);
    font-family: 'Open Sans', sans-serif;
    font-size: 30px;

}

.aboutme {
    font-family: 'Open Sans', sans-serif;
    color: #6C5341;
    width: 100%;
    margin: auto;
    padding: 15px;
}

.aboutme p {
    font-size: 18px;
    padding: 15px 0;
    /* premiere valeur: gauche droite
  deuxiéme valeur: haut bas  */
    text-align: center;
}

main {
    margin: auto;
    width: 80%;
    display: flex;
}

.cv-left {
    width: 50%;
    /* height: 100vh; */
    background-color: rgb(187, 162, 150);
    /* display: flex; */
    /* margin-right: 15px; */
    height: 80%;
    padding: 20px 0px;
}


.verticalLine {
    border-right: thick solid rgb(62, 45, 31);
    display: flex;
    flex-direction: column;
    margin-top: 15px;
    margin-bottom: 15px;
    /* height: 80%; */
}

.mescoordonnees {
    background-color: #3e2d1f;
    color: white;
    width: 80%;
    height: 300px;
    display: flex;
    flex-direction: column;
    /* margin-top: 25px;
    margin-bottom: 25px;
    margin-left: 0;
    margin-right: 15px; */
    /* margin: auto; */
    padding-top: 20px;
    padding-bottom: 2Opx;
    padding-left: 30px;
}

.mescoordonnees h3 {
    font-family: Georgia;
    font-weight: bold;
    color: white;
    font-size: 24px;
    /* margin-top: 5px; */
    margin-bottom: 10px;
    margin-left: 30px;

    /* text-align: center; */
}

h4 {
    font-size: 17px;
    text-align: center;

    font-family: 'Open Sans lignt', sans-serif;
}

.tel {
    display: flex;
    flex-direction: column;
    /* width: 150px; */
    margin-left: 30px;
    row-gap: 3px;
    font-family: 'Open Sans', sans-serif;
}


.tel span {
    font-family: 'Open Sans', sans-serif;
    margin-left: 19px;
    text-decoration: solid;
    font-size: 12px;
}

.tel i {
    /* font-size: 11px; */
    margin-top: 6px;
    display: flex;
    flex-direction: column;
    row-gap: 50px;
}

.position {
    display: flex;
    column-gap: 9px;
}

.educationBloc {
    display: flex;
    /* flex-direction: column;
    justify-content: flex-start; */
    margin-top: 15%;
    margin-bottom: 30px;
    margin-left: 0;
    margin-right: 15px;
    color: white;
    font-size: 12px;
}

.educationBloc h3 {
    font-family: Georgia;
    font-weight: bold;
    color: #3e2d1f;
    font-size: 24px;
    margin-bottom: 10px;
    margin-left: 35px;

}

.blocSpanP {
    display: flex;
    flex-wrap: wrap;
    margin-top: 20px;
    

}

.position3 {
    display: flex;
    flex-direction: column;
    width: 40%;
    margin-left: 35px;
    font-weight: bold;
}

.text {
    width: 60%;
    margin-right: 10px;

}

.bloc1 {
    display: flex;
    justify-content: end;
    margin-bottom: 20px;
    text-align: justify;
}

.bloc2 {
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
    text-align: justify;


}

.bloc3 {
    display: flex;
    justify-content: end;
    margin-bottom: 10px;
    text-align: justify;


}

.cv-right {
    width: 50%;
    /* height: 100vh; */
    background-color: rgb(187, 162, 150);
    padding: 20px 0px;

}

.verticalLine2 {
    border-left: thick solid rgb(187, 162, 150);
    display: flex;
    flex-direction: column;
    /* margin-top: 15px;
    margin-bottom: 15px; */
}


.experience {
    /* height: 300px; */
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    margin-bottom: 20px;
    margin-left: 15px;
    margin-right: 0;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 14px;
    row-gap: 3px;
    font-family: 'Open Sans', sans-serif;
}

.experience h3 {
    font-family: Georgia;
    font-weight: bold;
    color: #3e2d1f;
    font-size: 24px;
    margin-bottom: 10px;
}

.entreprise {
    display: flex;
    column-gap: 5px;

}

.entreprise span {
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans lignt', sans-serif;
    font-weight: bold;
    margin-top: 10px;
}

.entreprise p {
    margin-left: 19px;
    font-family: 'Open Sans lignt', sans-serif;
    font-size: 12px;
}

.position2 {
    margin-top: 10px;
}

.expertiselanguesloisirs {
    /* width: 70%; */
    margin-left: 15px;
    margin-top: 0px;
    /* height: 300px; */
    background-color: #3e2d1f;
    color: #F4F0EC;
    display: flex;
    justify-content: space-around;
    padding: 20px;
}

.list h3 {
    font-family: Georgia;
    font-weight: bold;
    color: white;
    font-size: 24px;
    margin-right: 20px;

}

.list ul {
    margin-left: 18px;
    margin-top: 10px;
}


/* .lang {
    display: flex;
    flex-direction: column;
    align-items: center;
     margin: 40px; 
    font-size: 14px;} */


.colonne {
    display: flex;
    flex-direction: column;
    row-gap: 10px;

}

@media screen and (max-width:915px) {

    .presentation {
        width: 90%;
    }

    h1 {
        font-size: 35px;
        margin-top: 10px;
        left: 31%;
    }

    .label {
        height: 19px;
        width: 43px;
    }

    .label .ball {
        position: absolute;
        left: 3px;
        height: 17px;
        width: 19px;
    }

    .checkbox:checked+.label .ball {
        transform: translateX(20px);
    }

    h2 {
        font-size: 15px;
    }

    .aboutme p {
        text-align: justify;
        font-size: 13px;
    }

    main {

        display: flex;
        flex-direction: column;
    }

    .cv-left {
        width: 100%;
        /* border-radius: 10px 10px 10px 10px; */
    }

    .mescoordonnees {
        width: 90%;
        height: 250px;
        margin-left: 0px;
        margin-right: 35px;
        padding-top: 25px;
        padding-bottom: 25px;
        padding-left: 10px;
        padding-right: 10px;
        /* border-radius: 10px; */
    }

    .mescoordonnees h3 {
        font-size: 20px;
    }

    .educationBloc {
        font-size: 13px;
        margin-bottom: 10px;
    }

    .educationBloc h3 {
        font-size: 20px;
    }

    .cv-right {
        width: 100%;
        /* border-radius: 10px 10px 10px 10px; */

        /* border-left: thick solid rgb(62, 45, 31); 
        margin-bottom: 10px;  */
        margin-top: 5px;
    }

    .verticalLine2 {
        border-left: thick solid #3e2d1f;
        display: flex;
        flex-direction: column;
        margin-top: 15px;
        margin-bottom: 15px;
    }

    body.dark .verticalLine2 {
        border-left: thick solid #27374D;
    }

    .experience {
        margin-top: 10px;
        margin-left: 35px;
        margin-right: 25px;
        font-size: 13px;
        text-align: justify;

    }

    .experience h3 {
        margin-bottom: 0;
        font-size: 20px;
    }

    .entreprise {
        margin-top: 0px;
    }

    .expertiselanguesloisirs {
        margin-left: 35px;
        margin-right: 0px;
        /* border-radius: 10px; */

    }

    .list h3 {
        font-size: 17px;

    }

    .list ul {
        font-size: 13px;
    }

    .colonne {
        margin-top: 10px;
        margin-left: 40px;
        margin-right: 20px;
    }

    .exp {
        margin-top: 10px;
        margin-left: 20px;
    }

}