@import url('https://fonts.googleapis.com/css2?family=Dancing+Script:wght@500&display=swap');
/* font-family: 'Dancing Script', cursive; */

@import url('https://fonts.googleapis.com/css2?family=Open+Sans:wght@300&display=swap');
/* font-family: 'Open Sans', sans-serif; */


* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}
body {
    font-family: 'Open Sans', sans-serif;
    font-weight: 300;
    font-size: .9rem;
    line-height: 1.5;

}

.container {
    margin: auto;
    width: 80%;
    max-height: 310px;
    background-color: #F4F0EC;
    display: flex;

   
}

 /* .imgProfil img {
    height: 230px;
    width: 200px;
    margin: auto;
    position: relative;
    top: 20%;
    z-index: 2;
    /* background-color:rgb(62, 45, 31) ; */
    /* display: flex; */
    /* align-items: center; */


/* .imgProfil {
    width: 220px;
    height: 200px;
    display: flex;
    align-items: center;
    background-color:rgb(62, 45, 31) ;
     margin: 20px ; */



.presentation {
    width: 60%;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-bottom: 5px;
    margin: auto;
    /* font-size: 15px; */

}
h1 {
    margin: 0 0 1rem;
    font-size: 2.5rem;
    margin-bottom: .5rem;
    text-align: right;
    font-family: 'Dancing Script', cursive;
    font-weight: lighter;
}
h2 {
    text-align: right;
    color: #856955;
    font-family: 'Open Sans', sans-serif;
    font-size: 26px;

}

.aboutme {
    font-family: 'Open Sans', sans-serif;
    width: 100%;
    margin: auto;
    padding: 15px auto;
}

.aboutme p {
    font-size: 18px;;
    padding: 15px 0;
    /* premiere valeur: gauche droite
  deuxiéme valeur: haut bas  */
  text-align:center;
}
main {
    margin: auto;
    width: 80%;
    display: flex;
}

.cv-left {
    width: 50%;
    /* height: 100vh; */
    background-color: rgb(187, 162, 150);
    /* display: flex; */
    /* margin-right: 15px; */

}

.verticalLine {
    border-right: thick solid rgb(62, 45, 31);
    display: flex;
    flex-direction: column;
     margin-top: 15px;
     margin-bottom: 15px; 
     height: 90%;
     

}

.mescoordonnees {
    background-color: #3e2d1f;
    color: white;
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 25px;
    margin-bottom: 25px ;
    margin-left: 0;
    margin-right: 15px;
    text-align: left;
    padding-top: 50px;
    padding-bottom: 5Opx;
    padding-left: 30px;
}
.mescoordonnees h3 {
    font-family: Georgia;
    font-style: bolder;
    color: white;
    font-size: 24px;
    margin-bottom: 10px;

    /* text-align: center; */
}
h4 {
    font-size: 15px;
    font-family: 'Open Sans lignt', sans-serif;
}

.tel{
    display: flex;
    flex-direction: column;
    row-gap: 3px;
    font-family: 'Open Sans', sans-serif;
}


.tel span {
    font-family: 'Open Sans', sans-serif;
    margin-left: 19px;
    text-decoration: solid;
    font-size: 12px;
}

.tel i {
   font-size: 11px;
   margin-top: 6px ;

   /* display: flex;
   flex-direction: column;
   row-gap: 50px; */
}
.position{
    display: flex;
    column-gap: 9px;
}

 .educationExpertise {
    display: flex;
    flex-direction: column;
    margin-top: 15%;
    margin-bottom: 30px; 
    margin-left: 0;
    margin-right: 15px;
    color: white;
    font-size: 14px;
}

.educationExpertise h3{
    font-family: Georgia;
    font-style: bolder;
    color: #3e2d1f;
    font-size: 24px;
    margin-bottom: 10px;

}
.cv-right {
    width: 50%;
    /* height: 100vh; */
    background-color: rgb(187, 162, 150);
}

.experience {
    height: 300px;
    display: flex;
    flex-direction: column;
    margin-top: 45px ;
    margin-bottom: 30px ;
    margin-left: 15px;
    margin-right:0 ;
    padding-top: 20px;
    padding-bottom: 20px;
    color: white;
    font-size: 14px;   
    row-gap: 3px;
    font-family: 'Open Sans', sans-serif;   
}
.experience h3{
    font-family: Georgia;
    font-style: bolder;
    color: #3e2d1f;
    font-size: 24px;
    margin-bottom: 10px;
}

.entreprise {
    display: flex;
    column-gap: 5px;

}
.entreprise span{
    display: flex;
    flex-direction: column;
    font-family: 'Open Sans lignt', sans-serif;
    font-style:bold; 
}

.entreprise p {
    margin-left: 19px;
    text-decoration: solid;
    font-size: 12px;
    
}

.languesloisirs {
    background-color: rgb(62, 45, 31);
    color: white;
    height: 350px;
    display: flex;
    justify-content: space-center ;  
    margin-top: 20%;
    margin-bottom: 30px; 
    margin-left: 15px;
    margin-right: 0;

}
.languesLoisirs h4{
    font-family: Georgia;
    font-style: bolder;
    color: white;
    font-size: 24px;
}

.lang {
    display: flex;
    flex-direction: column;
    text-align: center;
    margin: 40px;
    font-size: 14px;
   
 }

/* .headerlangues .headerloisirs {
    display: flex;
    justify-content: center;
} */ 

.loisirs {
    display: flex;
    flex-direction: column;
    /* margin: 40px; */
}

.loisirs li {
    display: flex;
    flex-direction: column;
}

@media screen and (max-width:900px) {

 .aboutme p {
    font-size: 12px;
}


} 
